{% extends "Base.html" %}

{% block content %}  

    <section class="tm-welcome-section">

      <div class="columnas">
        <div class="container container-principal user">
          <div class="row tm-welcome-content">
	          <a href="#main"><i class="material-icons">add</i></a>
            <a href="#main" class="tm-more-button tm-more-button-welcome">New Product</a>      
          </div>
        </div> 

        <div class="container container-principal">
	        <form action="http://localhost:5000/SearchProduct" method="GET" name="searchProduct">
	          <div class="row tm-welcome-content" onclick="document.searchProduct.submit()">
	            <a><i class="material-icons">search</i></a>
              <a class="tm-more-button tm-more-button-welcome">Search Product</a>      
            </div>
	        </form>
        </div>

        <div class="container container-principal user">
          <div class="row tm-welcome-content">
            <a href="#main"><i class="material-icons">settings</i></a>
            <a href="#main" class="tm-more-button tm-more-button-welcome"> Manage user</a>      
          </div>
        </div>

      </div>

    </section>


{% endblock %}
