{% extends "Base.html" %}

{% block content %}  


    <section class="tm-welcome-section">

      <form action="http://127.0.0.1/ManageUser" method="POST">

        <div class="columnas-2">

          <div class="container container-principal">
            <div class="row tm-welcome-content">
              <a href="NewUser"><i class="material-icons">person_add</i></a>
              <a href="NewUser" class="tm-more-button tm-more-button-welcome">New User</a>      
            </div>
          </div>   

          <div class="container container-principal">
	          <div class="row tm-welcome-content">
              <a href="SearchUser"><i class="material-icons">search</i></a>
              <a href="SearchUser" class="tm-more-button tm-more-button-welcome">Search User</a>    

            <!-- NUEVO JM para tener un boton que use un método post
            
            <form action="http://localhost:5000/SearchUser" method="GET" name="SearchUser">
              
                <a><i class="material-icons">search</i>  </a>
                
                <a class="tm-more-button tm-more-button-welcome"  id= "SearchUser" >  Search User1 </a>      
              
            </form>
             NUEVO FIN  JM para tener un boton que use un método post
            -->
            </div>
          </div>

          <div class="container container-principal">
          </div>      

        </div>
      </form>
    </section>

{% endblock %}
