{% extends "Base.html" %}

{% block content %}

    <section class="tm-welcome-section">

      <div class="columnas">

        <div class="container container-principal user">
          <div class="row tm-welcome-content">
	          <a href="#main"><i class="material-icons">add</i></a>
            <a href="#main" class="tm-more-button tm-more-button-welcome">New Product</a>      
          </div>
        </div>  

        <div class="container container-principal">
          <div class="row tm-welcome-content">
            <form action="{{ url_for('NewProduct') }}" method="POST" name="newProduct" enctype='multipart/form-data'>
              <h2 class="gold-text tm-welcome-header-2" style="margin-top: 0px;">New product</h2>
              <p style="color: white;">Name:</p>
              <input name="NewProductName" type="text">
              <p style="color: white;">Quantity:</p>
              <input name="NewProductQuantity" type="number" >
              <p style="color: white;">image:</p>
              <input type="file" style="color: white;" name="NewProductImage">
              <a class="tm-more-button tm-more-button-welcome" onclick="document.newProduct.submit();">Add Product</a>      
            </form>
          </div>
        </div>

        <div class="container container-principal user">
          <div class="row tm-welcome-content">
            <a href="#main"><i class="material-icons">settings</i></a>
            <a href="#main" class="tm-more-button tm-more-button-welcome"> Manage user</a>      
          </div>
        </div>      

      </div>

    </section>

  {% endblock %}



