{% extends "Base.html" %}

{% block content %}  


    <section class="tm-welcome-section">
      <div class="columnas">
        <div class="container container-principal user">
          <div class="row tm-welcome-content">
	    <a href="#main"><i class="material-icons">add</i></a>
            <a href="#main" class="tm-more-button tm-more-button-welcome">New Product</a>      
          </div>
        </div>      
        <div class="container container-principal">
	  <div class="row tm-welcome-content">
	    <form action="http://localhost:5000/NewUser" method="POST" name="AddNewUser">
		    <h2 class="gold-text tm-welcome-header-2" style="margin-top: 0px;">New User</h2>
		    <p style="color: white;" type="text">Name:</p>
		    <input name="NewUserName">
		    <p style="color: white;" type="text">User:</p>
		    <input name="NewUserUser">
		    <p style="color: white;" type="password">Password:</p>
		    <input type = "password" name = "NewUserPassword">
		    <p style="color: white;" type="email">Mail:</p>
		    <input name="NewUserMail">
	            <a onclick="document.AddNewUser.submit();" class="tm-more-button tm-more-button-welcome">Add User</a>      
	    </form>
          </div>
        </div>
        <div class="container container-principal user">
          <div class="row tm-welcome-content">
	    <a href="#main"><i class="material-icons">settings</i></a>
	    <a href="#main" class="tm-more-button tm-more-button-welcome"> Manage user</a>      
          </div>
        </div>      

      </div>
    </section>


{% endblock %}