<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/main1.css">
    <link href="static/css/Principal.css" rel="stylesheet">

</head>
<body>

    <form action="http://localhost:5000/RecoverPassword" method="POST" name="recover">
        <img id="logo_a" src="static/img/logocontraseña.png" alt="logo">
        <h1>Recover password</h1>
        <div class="inset">
          <p>
            <label  for="email">Enter the registered email and you will be sent a backup password</label>
          </p>
          <p>
            <label for="email">Mail</label>
            <input type="text" name="email" id="email">
          </p>
        </div>
          <p class="p-container">
  	  <a class="tm-more-button tm-more-button-welcome" onclick="document.recover.submit()">Send</a>
        </p>
      </form>  
</body>
</html>


