{% extends "Base.html" %}

{% block content %}  
          
          
<section class="tm-welcome-section">

  <div class="columnas">

    <div class="container container-principal">
      <div class="row tm-welcome-content">
        <h2 class="gold-text tm-welcome-header-2" style="margin-top: 0px;">Manage product</h2>    
      </div>
    </div>
    
    <div class="container container-principal">
      <div class="row tm-welcome-content" style="margin-top: 50px;">

        <form action="{{ url_for('UpdateProduct') }}" method="POST" name="UpdateProduct" enctype='multipart/form-data'>
          {% if productoform %}
          <p style="color: white;">ID:</p>
          <input type="text" name="idproducto" id="idproducto" value="{{ id }}" readonly>
          {% endif %}
          <p style="color: white;">Name:</p>
          <input type="text" name="nombreproducto" id="nombreproducto" value="{{ productoform }}">
          <p style="color: white;">Quantity:</p>
          <input type="number" min="0" name="cantidad" id="cantidad" value="{{ cantidad }}">
          <p style="color: white;">image:</p>
          <input type="file" style="color: white;" name="imagenproducto" id="imagenproducto">
          <a formaction="{{ url_for('UpdateProduct') }}" class="tm-more-button tm-more-button-welcome" onclick="document.UpdateProduct.submit();">Update Product</a>
              
      </form>

      <form class="login100-form validate-form" action="{{ url_for('DeleteProduct') }}" method="POST" name="DeleteProduct"> 
        <input type="hidden" name="idproducto" id="idproducto" value="{{ id }}">
        <a formaction="{{ url_for('DeleteProduct') }}" class="tm-more-button tm-more-button-welcome" onclick="document.DeleteProduct.submit();">Delete Product</a>
      </form>   
      
      <form class="login100-form validate-form" action="{{ url_for('SearchProduct') }}" method="GET" name="SearchProduct"> 
        <a class="tm-more-button tm-more-button-welcome" onclick="document.SearchProduct.submit();">Back to Search</a>
      </form>


        
      </div>
    </div>

    <div class="container container-principal">
      <div class="row tm-welcome-content">
        {% if productoform %}
        <img src="{{ imagen }} " alt="Esta es la imagen" style="margin-letf: 200px; height: 200px;">
        {% endif %}
      </div>
    </div>      
    
  </div>
</section>

  
  
  {% endblock %}
