{% extends "Base.html" %}

{% block content %}  



    <section class="tm-welcome-section">
      <div class="columnas">
        <div class="container container-principal user">
          <div class="row tm-welcome-content">
	    <a href="/"><i class="material-icons">add</i></a>
            <a href="/" class="tm-more-button tm-more-button-welcome">New Product</a>      
          </div>
        </div>      
        <div class="container container-principal">
	  <div class="row tm-welcome-content" style="margin-top: 50px;">
	    <h2 class="gold-text tm-welcome-header-2" style="margin-top: 0px;">Update User</h2>
        
          
          <form class="login100-form validate-form" action= "" method="POST" name="UpdateUser"> 
            <p style="color: white;">Name:</p>
            <input class="input100" type="text" name="NewUserName" placeholder="NewUserName">
            <p style="color: white;">User:</p>
            <input class="input100" type="text" name="NewUserUser" placeholder="NewUserUser">
            <p style="color: white;">Password:</p>
            <input class="input100" type="password" name="NewUserPassword" placeholder="NewUserPassword">
            <p style="color: white;">Mail:</p>
            <input class="input100" type="email" name="NewUserMail" placeholder="NewUserMail">
            <input type = "submit" class="tm-more-button tm-more-button-welcome" id="UpdateUser" name = "boton" value= "Update" >
          </form> 

          <form class="login100-form validate-form" action= "" method="POST" name="DeleteUser">   
            <input type = "submit" class="tm-more-button tm-more-button-welcome" id="DeleteUser" name = "boton" value = "Delete" >
             
          </form>      
          </div>
        </div>
        <div class="container container-principal user">
          <div class="row tm-welcome-content">
	    <a href="#main"><i class="material-icons">settings</i></a>
	    <a href="#main" class="tm-more-button tm-more-button-welcome"> Manage user</a>      
          </div>
        </div>      

      </div>
    </section>


{% endblock %}
